.centered { 
   
    margin-top: 20px;  
    margin-left: 40%;
   }
form {
    
    width: 450px;
    height: 450px;
    margin: auto;
    position: relative;
   }

.error {
color: red;
}
.alert {
    width: 450px;
    margin: auto;
}